# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
venv/
.env
*.db
*.db-*

# ML Models & Datasets (large files)
ml/models/*.h5
ml/models/*.pkl
ml/models/**/*.h5
ml/models/**/*.pkl
ml/models/test/
backend/app/ml_models/*.pkl
ml/data/*.csv
backend/data/**/*.csv
backend/data/accidents/*.csv


# Node
node_modules/
frontend/dist/
frontend/.vite/
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
